.button-op{
	display: flex;
	height: 4em;
	justify-content: center;
	outline: 1px solid #888888;
	background-color: #DEF2F1;
	color: #888888;
	font-size: 1.4em;
	font-weight: lighter;
	flex: 1;
	align-items: center;
	cursor: pointer;
}

.symbols{
	color: #ffffff;
	background-color: #3AAFA9;
}
